body {
    text-align:center;

}

h2, h3, h4 {
    text-decoration: underline;
}

h3, h4 {
    text-color: blue;
}

.firstBox {
     width: 100px;
     height: 50px;
     background-color: red;
     border: solid 5px black;
}
.secondBox {
    width: 100px;
    height: 50px;
    background-color: blue;
    border: dotted 5px yellow;
    margin: 0 20px
}
.thirdBox {
    width: 100px;
    height: 50px;
    background-color: green;
    border: solid 5px black;
}
.boxesRow {
    margin: 5px
}
.boxesRow, .changeButtonRow, .hideButtonsRow  {
margin: 5px;
}
.resetButtonsRow {
    margin: 20px 0 0 0;
}